body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8d9eb3;
    gap: 20px;
}
div{
    width: 200px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #abccd3;
    border-radius: 50px;
    box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15),
                inset -5px -5px 10px rgba(0, 0, 0, 0.2),
                inset 13px 13px 10px rgba(255, 255, 255, 0.75),
                -15px -15px 35px rgba(255, 255, 255, 0.35);
}
