* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #2f363e;
}

/* 外圈 */
.clock {
    position: relative;
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 2;
    box-shadow: inset 5px 5px 25px rgba(0, 0, 0, .25);
    border-radius: 50%;
}

/* 中心点 */
.clock::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #2f363e;
    z-index: 10000;
    border: 1px solid #fff;
    border-radius: 50%;
}

#time {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time .circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time .circle svg {
    position: relative;
    transform: rotate(270deg);
}

#time .circle:nth-child(1) svg {
    width: 250px;
    height: 250px;
}

#time .circle:nth-child(2) svg {
    width: 210px;
    height: 210px;
}

#time .circle:nth-child(3) svg {
    width: 170px;
    height: 170px;
}

/* 内圈 */
#time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    /* stroke: var(--clr); */ /* 线条 */
    transform: translate(5px, 5px);
    opacity: .25;
}

#time .circle:nth-child(1) svg circle {
    stroke-dasharray: 755;
    stroke-dashoffset: 755;
}

#time .circle:nth-child(2) svg circle {
    stroke-dasharray: 630;
    stroke-dashoffset: 630;
}

#time .circle:nth-child(3) svg circle {
    stroke-dasharray: 505;
    stroke-dashoffset: 505;
}

.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 10;
}

/* 内圈点 */
.dots::before {
    content: '';
    position: absolute;
    top: 1px;
    width: 8px;
    height: 8px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),
                0 0 40px var(--clr),
                0 0 60px var(--clr),
                0 0 80px var(--clr);
}

.niddles {
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.niddles i {
    position: absolute;
    width: 2px;
    background: var(--clr2);
    height: 50%;
    opacity: .75;
    border-radius: 6px;
    transform-origin: bottom;
    transform: scaleY(.5);
}

.niddles.niddle2 {
    width: 160px;
    height: 160px;
    z-index: 9;
}

.niddles.niddle2 i {
    width: 2px;
}

.niddles.niddle3 {
    width: 100px;
    height: 100px;
    z-index: 8;
}

.niddles.niddle3 i {
    width: 2px;
}

#time .hr {
    position: absolute;
    inset: 25px;
    text-align: center;
    color: #999;
    font-family: consolas;
    transform: rotate(calc(30deg * var(--i)));
}

#time .min {
    position: absolute;
    inset: 5px;
    text-align: center;
    color: #999;
    font-family: consolas;
    transform: rotate(calc(30deg * var(--i)));
}

#time .sec {
    position: absolute;
    inset: -15px;
    text-align: center;
    color: #999;
    font-family: consolas;
    transform: rotate(calc(30deg * var(--i) / 5));
}

#time .hr b {
    font-size: .75em;
    font-weight: 500;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

#time .min b {
    font-size: .75em;
    font-weight: 500;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

#time .sec b {
    font-size: .75em;
    font-weight: 500;
    display: inline-block;
    transform: rotate(calc(-90deg * var(--j)));
}

#time .time_b {
    position: absolute;
    bottom: 55px;
}

#time .time_b b {
    font-size: .75em;
    font-weight: 500;
    color: #999;
    display: inline-block;
    font-family: consolas;
}
